<%- include("../partials/header.ejs") %>

<div class="view-content-user">
    <div class="container">
        <h2>All Products</h2><hr>
        <table>
          <tr>
            <th class="text-detail-order">Product_ID</th>
            <th class="text-detail-order" id="hide-when-screen-small">NAME</th>
            <th class="text-detail-order">PRICE</th>
            <th class="text-detail-order">CATEGORIES</th>
            <th class="text-detail-order" id="order-view">ACTION</th>
          </tr>
    <% products.forEach(function(product){ %>
        <div class="container">
            <tr>
              <td class="text-detail-order"><a href="/<%= product._id %>" class="id-order"><%= product._id %></a></td>
              <td class="text-detail-order" id="hide-when-screen-small"><%= product.name %></td>
              <td class="text-detail-order"><%= product.price %> .-</td>
              <td class="text-detail-order" id="text-status"><%= product.categories %></td>
              <td class="text-detail-order" id="order-view"><a href="/view/<%= product._id %>" class="btn btn-sm btn-outline-secondary" id="btn">View More</a></td>
            </tr>
          </div>
    <% }) %>
</div>
