<%- include("partials/header.ejs") %>
<%- include("partials/sort.ejs") %>

    <div class="container">
        <section class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% products.forEach(function(products){ %>    

                <div class="shop-content">
                    <div class="product-box">  
                        <img class="product-img" src="<%= products.image %>">
                        <div class="block-product-title">
                            <h2 class="product-title"> <%=products.name%></h2>
                        </div>
                        <span class="price"><%=products.price%> .-</span><br><br>
                        <a href="/<%= products._id %>/view" class="btn btn-sm btn-outline-secondary" id="btn">View More</a>
                        <a href="/<%= products._id %>/add-to-cart" class="btn btn-dark pull-right" role="button" id="btn-add">Add to cart</a>
                    </div><br><br>
                </div>
        
            <% }) %> 
        </section> 
    </div>

