<%- include("../partials/header.ejs") %>

<h1>User profile</h1>
<p><%= user.firstName + ' ' + user.lastName %></p>
<img src="<%= user.profileImage %>" height="300px">
<p>
    <a href="mailto: <%= user.email %>"><%= user.email %></a>
</p> 
    

<%- include("../partials/footer.ejs") %>