<%- include("../partials/header.ejs") %>

<div class="container">
    <div class="view-content">
        <h1>DELIVERY ADDRESS</h1>
        <p>To place order, please add a delivery address</p><hr>
        <h5>Shipping Address :</h5><br>
        <h5 class="text-check"><%= cart.user.address %> <%= cart.user.city %> <%= cart.user.postalCode %></h5>
        <h5>Payment Type :</h5><br>
        <h5 class="text-check">Credit cards</h5>
        <p></p>
    </div><br>

    <div class="view-content">
        <h1>Order Item</h1><hr>
        <% cart.products.forEach(function(product){ %>  
            <div class="cart-content">
                <div class="cart-box">
                    <img src="<%= product.image %>" class="cart-img">
                    <div class="detail-box">
                        <div class="cart-product-title"><%= product.name %></div>
                        <div class="cart-price"> <%= product.price %> .-</div>
                        <button class="button-Qty">
                            <span class="badge"><%= product.qty %></span>
                         </button>
                    </div>
                </div>
                <hr>
            </div>
            <% }) %> 
            <p>You Have <%= cart.totalQty %> items in Order</p>
        </div><br>

        <div class="view-content">
            <h1>Order Summary</h1><hr>
            <h5>Date : <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date()) %></h5><br>
            <h5>Subtotal (<%= cart.totalQty %> Item) : <%= cart.totalprice %> .-</h5><br>
            <h5>Shipping Total: <%= cart.Shipping %> .-</h5><br>
            <h5>Total Payment: <%= cart.totalPayment %> .-</h5><br>
            <p></p>
            <a href="#" class="btn btn-secondary" id="btn-checkout">Place Order</a>
            <a href="/shopping-cart" class="btn btn-info" id="back">Back</a>
        </div>

    </div>
</div>


    

<%- include("../partials/footer.ejs") %>