<%- include("../partials/header.ejs") %>

<div class="container">
    <div class="view-content">
        <h1>DELIVERY ADDRESS</h1>
        <form action="/shopping-cart/<%= cart._id %>/place-Order" method="POST">
        <p>To place order, please add a delivery address</p><hr>
        <div class="mb-3">
            <label class="form-label">Firstname :</label>
            <input type="text" class="form-control" name="user[firstName]", value="<%= cart.user.firstName %>">
          </div>
          <div class="mb-3">
            <label class="form-label">lastName :</label>
            <input type="text" class="form-control" name="user[lastName]", value="<%= cart.user.lastName %>">
          </div>
        <div class="mb-3">
            <label class="form-label">Shipping Address :</label>
            <input type="text" class="form-control" name="shippingAddress", value="<%= cart.user.address %> <%= cart.user.city %> <%= cart.user.postalCode %>">
          </div>

          <p>Payment Method :</p>

          <label for="myCheck">Credit Card:</label> 
          <input type="checkbox" id="myCheck" onclick="myFunction()">
          
            <div class="mb-3" id="text" style="display:none">
                <label class="form-label"></label>
                <img class="img-creditCard" src="/images/image-creditCard.jpg" width="150px">
                <input type="text" class="form-control" name="payment[cardNumber]" placeholder="Card Number"><br>
                <input type="text" class="form-control" name="payment[expiryDate]" placeholder="Expiry Date (MM/YY)"><br>
                <input type="text" class="form-control" name="payment[CVV]" placeholder="CVV"><br>
                <input type="text" class="form-control" name="payment[nameOnCard]" placeholder="Name on Card">
              </div>

    </div><br>

    <div class="view-content">
        <h1>Order Item</h1><hr>
        <% cart.items.forEach(function(product){ %>  
            <div class="cart-content">
                <div class="cart-box">
                    <img src="<%= product.image %>" class="cart-img">
                    <div class="detail-box">
                        <div class="cart-product-title"><%= product.name %></div>
                        <div class="cart-price"> <%= product.unitPrice %> .-</div>
                        <button class="button-Qty">
                            <span class="badge"><%= product.quantity %></span>
                         </button>
                    </div>
                    <div><%= product.totalPrice %> .-</div>
                </div>
                <hr>
            </div>
        <% }) %> 
            <p>You Have <%= cart.totalQty %> items in Order</p>
        </div><br>

        <div class="view-content">
            <h1>Order Summary</h1><hr>
            <h5>Date : <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date()) %></h5><br>
            <h5>Subtotal (<%= cart.totalQty %> Item) : <%= cart.totalprice %> .-</h5><br>
            <h5>Shipping Total: <%= cart.Shipping %> .-</h5><br>
            <h5>Total Payment: <%= cart.totalPayment %> .-</h5><br>
            <p></p>
            <!-- <a href="#" class="btn btn-secondary" id="btn-checkout">Place Order</a>
            <a href="/shopping-cart" class="btn btn-info" id="back">Back</a> -->
            <button type="submit" class="btn btn-secondary" id="btn-checkout">Place Order</button>
            <a href="/shopping-cart" class="btn btn-info" id="back" >Back</a>
        </form>
        </div>

    </div>
</div>

<script>
    function myFunction() {
      var checkBox = document.getElementById("myCheck");
      var text = document.getElementById("text");
      if (checkBox.checked == true){
        text.style.display = "block";
      } else {
         text.style.display = "none";
      }
    }
    </script>

    

<%- include("../partials/footer.ejs") %>