<%- include("../partials/header.ejs") %>

<div class="container">
    <div class="view-content">
        <h2>Shopping Cart</h2>
        <% if(!cart){ %>
            <hr><h1 class="no-item">No product in Cart</h1><hr>
        <% }else { %>
            <p>You Have <%= cart.totalQty %> items in Shopping Cart</p><hr>
        <% cart.items.forEach(function(product){ %>  
        <div class="cart-content">
            <div class="cart-box">
                <img src="<%= product.image %>" class="cart-img">
                <div class="detail-box">
                    <div class="cart-product-title"><%= product.name %></div>
                    <div class="cart-price"> <%= product.unitPrice %> .-</div>
                    <div class="box-qty-small-screnn">
                        <button>
                            <a href="/shopping-cart/<%= product._id %>/minus-qty" class="icon-plus-minus">-</a>
                        </button>  
    
                            <input type="text" name="quantity" value="<%= product.quantity %>" min="1" max="10" size="1" id="number" />
    
                        <button>
                            <a href="/shopping-cart/<%= product._id %>/plus-qty" class="icon-plus-minus">+</a>
                        </button> 
                    </div>
                    <a href="/<%= product._id %>/remove" class="btn btn-dark btn-xs" id="cart-remove">Remove</a>
                </div>
                <div class="box-qty-full-screen">

                      <!-- <button class="button-Qty">
                        <a href="/shopping-cart/<%= product._id %>/minus-qty" class="icon-plus-minus">-</a>
                    </button> 

                      <button class="button-Qty">
                        <span class="badge"><%= product.quantity %></span>
                     </button>

                     <button class="button-Qty">
                        <a href="/shopping-cart/<%= product._id %>/plus-qty" class="icon-plus-minus">+</a>
                     </button>  
                     <div class="container"> -->
                        
                     <button>
                        <a href="/shopping-cart/<%= product._id %>/minus-qty" class="icon-plus-minus">-</a>
                    </button>  

                        <input type="text" name="quantity" value="<%= product.quantity %>" min="1" max="10" size="1" id="number" />

                    <button>
                        <a href="/shopping-cart/<%= product._id %>/plus-qty" class="icon-plus-minus">+</a>
                    </button> 
            </div>
            <div><%= product.totalPrice %>.-</div>
        </div>
        <% }) %> 
        <div class="total">
            <div class="total-title">Total</div>
            <div class="total-price"> <%= cart.totalprice %> .-</div>
        </div>
        <% } %>
        <a href="/shopping-cart/checkout" class="btn btn-secondary" id="btn-checkout">Checkout</a>
        <a href="/" class="btn btn-info" id="back">Back</a>
    </div>
</div> 
</div>

<script type="text/javascript">
    function incrementValue()
    {
        var value = parseInt(document.getElementById('number').value, 10);
        value = isNaN(value) ? 0 : value;
        if(value<10){
            value++;
                document.getElementById('number').value = value;
        }
    }
    function decrementValue()
    {
        var value = parseInt(document.getElementById('number').value, 10);
        value = isNaN(value) ? 0 : value;
        if(value>1){
            value--;
                document.getElementById('number').value = value;
        }
    
    }
    </script>



