<%- include("../partials/header.ejs") %>

<div class="container">
    <div class="view-content">
        <h2>Shopping Cart</h2>
        <% if(!cart){ %>
            <hr><h1 class="no-item">No product in Cart</h1><hr>
        <% }else { %>
            <p>You Have <%= cart.totalQty %> items in Shopping Cart</p><hr>
        <% cart.products.forEach(function(product){ %>  
        <div class="cart-content">
            <div class="cart-box">
                <img src="<%= product.image %>" class="cart-img">
                <div class="detail-box">
                    <div class="cart-product-title"><%= product.name %></div>
                    <div class="cart-price"> <%= product.price %> .-</div>
                    <button class="button-Qty">
                        <span class="badge"><%= product.qty %></span>
                     </button>
                </div>
                <a href="/remove/<%= product._id %>" class="btn btn-dark btn-xs dropdown-toggle" id="cart-remove">Remove</a>
            </div>
            <hr>
        </div>
        <% }) %> 
        <div class="total">
            <div class="total-title">Total</div>
            <div class="total-price"> <%= cart.totalprice %> .-</div>
        </div>
        <% } %>
        <a href="/checkout/" class="btn btn-secondary" id="btn-checkout">Checkout</a>
        <a href="/" class="btn btn-info" id="back">Back</a>
    </div>
</div>


    

<%- include("../partials/footer.ejs") %>