<%- include("../partials/header.ejs") %>

<a href="/" class="bx bx-arrow-back" id="btn-back"></a> 

    <div class="container">
        <div class="view-content">
            <img  class="product-img-view" src="<%= product.url %>">
            <div class="block-all-details">
                <h2 class="product-title-view"> <%=product.name%></h2>
                <p class="price-view">Price : <%=product.price%> .-</p>
                <h3>PRODUCT DETAILS</h3>
                <div class="block-details-product">
                    <span class="details-view"> <%=product.details%></span>

                <h2 class="review">Reviews:</h2><br>
                    <% product.reviews.forEach(function(review){ %>
                <p>
                    <strong> <%= review.author %> </strong> -  <%= review.text %> 
                </p>
                <% }) %>
                <a href="/<%= product._id %>/reviews/new" class="btn btn-sm btn-outline-secondary">Write a Review</a>
            </div>
        </div>
    </div>


    

<%- include("../partials/footer.ejs") %>